body{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    background: #ededee;
    font-family: 'Open Sans Condensed', sans-serif;
}
button{
    font-family: 'Open Sans Condensed';
}
.smallNav{
    display: none;
}
.menu-hide{
    display: none;
}
.nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 18px;
    background: #ededee;
    justify-content: space-between;
    z-index: 1;
}
.nav-leftSide-div{
    width: 35%;
}
.nav-leftSide-div ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-leftSide-div ul li:first-child{
    color: #a05868;
    font-size: 24px;
    font-weight: 900;
}
.nav-leftSide-div ul li{
    color: #a05841;
    font-size: 18px;
    font-weight: 100;
}
.nav-rightSide-div{
    width: 50%;
    display: flex;
    color: #a05841;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;

}
.nav-rightSide-div h1{
    margin: 0;
    letter-spacing: -1.5px;
    word-spacing: 5.5px;
    margin-right: 20px;
    font-weight: 500;
}
.nav-rightSide-div span{
    margin-right: 20px;
}

.title-div{
    position: relative;
    background-repeat: no-repeat;
    top: 60px;
    height: 740px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
.title-img{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    z-index: -1;
    filter: brightness(0.7);
    object-fit: cover;
    object-position: center;
}
.title-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: opacity(0.9);
}
.img1{
    transform: rotate(275deg);
    width: 50px;
    height: 50px;
    filter: invert(1);
}
.img2{
    transform: rotate(135deg);
    width: 50px;
    height: 50px;
    filter: invert(1);
}
.img3{
    transform: rotate(355deg);
    width: 50px;
    height: 50px;
    filter: invert(1);
}
.title-logo-div{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.title-logo-div h3{
    border-bottom: 2px solid;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 4.5px;
}
.title-title h1{
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 0.12em;
    margin: 15px;
}
.title-title h3{
    letter-spacing: 0.35em;
    font-weight: 100;
    font-size: 20px;
}
.title-title button{
    padding: 12px;
    width: 155px;
    background: #a05841;
    color: white;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.15em;
    border: none;
    outline: none;
}
.plants{
    padding: 100px 0px;
    position: relative;
    top: 160px;
    background: #ededee;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 330px;
    height: 565px;
    background: white;
    text-align: center;
    position: relative;
}
.box .content{
    position: absolute;
    width: 100%;
}
.content h3{
    font-size: 25px;
    letter-spacing: 0.12em;
    color: #a05841;
    margin-bottom: 18px;
    font-weight: 100;
    text-align: center;
}
hr{
    width: 20px;
    height: 4px;
    background: #a05841;
    border: none;
}
.content button{
    padding: 12px;
    width: 45%;
    font-size: 13px;
    letter-spacing: 0.12em;
    color: white;
    background: #a05841;
    border: none;
    outline: none;
    margin-top: 10px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: right;
}
.about-div{
    background: #ededee;
    position: relative;
    top: 100px;
    display: flex;
}
.about-us{
    width: 50%;
    text-align: center;
    padding: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us h3{
    font-size: 25px;
    letter-spacing: 0.12em;
    color: #a05841;
    margin-bottom: 18px;
    font-weight: 100;
}
.about-us p{
    line-height: 1.6em;
    text-align: center;
    font-size: 16px;
    color: #a05841;
    padding: 35px 80px;
    margin: 0px;
}
.img-box{
    width: 50%;
    display: flex;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-box .img-1{
    width: 50%;
}
.img-box .img-2{
    width: 50%;
}
.buy-div{
    display: flex;
    position: relative;
    top: 100px;
}
.buy-div .image-box{
    width: 50%;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.buy-div .content-box{
    width: 50%;
    background: #123132;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box div{
    padding: 50px;
    text-align: center;
}
.content-box h1{
    font-size: 95px;
    line-height: 1.2em;
    text-align: center;
    color: white;
}
.content-box button{
    padding: 15px;
    width: 35%;
    font-size: 13px;
    letter-spacing: 0.12em;
    color: #123321;
    background: #ffffff;
    border: none;
    outline: none;
}
.img-div{
    position: relative;
    top: 100px;
}
.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-div .content{
    position: absolute;
    width: 95%;
    top: 130px;
    display: flex;
    justify-content: center;
    height: 65%;
}
.content .input-box{
    background: #ffffff9c;
    padding: 30px;
    width: 60%;
}
.name{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.name div{
    width: 45%;
}
.name label{
    display: flex;
}
.name input{
    width: 93%;
    padding: 9px;
    margin-top: 15px;
}
.field{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
}
.field input{
    padding: 9px;
}
.message{
    height: 125px;
}
.field button{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.15em;
}
.heading{
    padding: 30px;
}
.footer{
    padding: 50px;
    background: #123132;
    position: relative;
    color: white;
    padding-bottom: 0px;
}
.footer .details{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.details .store{
    width: 28%;
    line-height: 1.5;
}
.details .hours{
    width: 23%;
}
.details .help{
    width: 23%;
}
.details h4{
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0.3em;
}
.details p{
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.3em;
    line-height: 1.5;
}
.sub{
    padding: 0px;
    text-align: center;
}
.sub h4{
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0.3em;
    margin-left: 75px;
}
.sub .email{
    margin-left: 192px;
    padding: 15px;
}
.email input{
    padding: 9px;
    width: 25%;
    background: transparent;
    border: 3px solid white;
    outline: none;
    color: white;
}
.email button{
    padding: 11px;
    letter-spacing: 0.12em;
    color: #123132;
    border: none;
    font-size: 13px;
    background: white;
}
.sub label{
    font-size: 19px;
    font-weight: 500;
    margin-right: 50px;
}
.sub .logo{
    padding: 20px;
    margin-left: 110px;
}
.sub .logo img{
    margin-right: 20px;
}
.map iframe{
    width: 100% !important;
}
.copy-rights{
    text-align: center;
    background: #ededee;
    padding: 25px;
    position: relative;
    margin-top: -5px;
    color: #a05841;
}
.copy-rights p{
    margin: 0px;
}
.shopList{
    display: none !important;
    
}
.shopList li{
    font-size: inherit !important;
    font-weight: inherit !important;
}
.shopList li:hover{
    margin-left: 10px;
}
.shop:hover .shopList{
   display: block !important;
   position: absolute;
    background: #ededee;
    padding: 20px;
    width: 7%;
}


@media screen and (max-width:480px) {
    
    .nav{
        display: none;
    }
    .smallNav{
        display: block;
        background: #ededee;
        padding: 15px;
        color: #a05841;
    }
    .smallNav h1{
        margin: 0;
        font-size: 20px;
    }
    .smallNav .top{
        display: flex;
        justify-content: space-between;
    }
    .top h1{
        font-size: 25px;
    }
    .top i{
        font-size: 35px;
        cursor: pointer;
    }
    .menu-hide{
        display: none;
    }
    .menu-show{
        height: 100vh;
        background: #ededee;
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0px;
    }
    .menu-show ul{
        list-style: none;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        font-weight: 500;
        color: #a05841;
        height: 35%;
    }
    .menu-show .login{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 20px;
    }
    .menu-show i{
        font-size: 40px;
        color: #a05841;
        cursor: pointer;
    }
    .login .icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        font-size: 35px;
        font-weight: 900;
        color: #a05841;
    }
    .title-div{
        top: -61px;
    }
    .title-img{
        position: relative;
        filter: brightness(0.6);
    }
    .title-logo-div{
        width: 0%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 185px;
    }
    .title-title{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title-title h1{
        font-size: 60px;
        font-weight: 800;
    }
    .title-title button{
        padding: 16px;
        width: 180px;
    }
    .plants{

        top: 0px;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin-bottom: 20px;
    }
    .content h3{
        font-size: 30px;
        font-weight: 900;
    }
    .content button{
        padding: 15px;
        font-size: 17px;
        font-family: 'Open Sans Condensed';
    }
    .about-div{
        top: 0px;
        display: flex;
        flex-direction: column;
    }
    .about-us{
        width: 100%;
    }
    .about-us p{
        font-size: 18px;
        padding: 20px 35px;
    }
    .img-box{
        width: 100%;
        display: block;
    }
    .img-box .img-1 {
        width: 100%;
    }
    .img-box .img-2 {
        width: 100%;
    }
    .buy-div{
        top: -5px;
        display: block;
    }
    .buy-div .image-box{
        width: 100%;
    }
    .buy-div .content-box{
        width: 100%;
        position: relative;
        top: -6px;
    }
    .content-box div{
        padding: 30px;
    }
    .content-box h1{
        font-size: 80px;
    }
    .content-box button{
        padding: 12px;
        width: 50%;
        font-size: 18px;
    }
    .img-div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        top: 0;
    }
    .content .input-box{
        width: 100%;
        height: 100%;
        background: #ffffff;
    }
    .img-div .content{
        position: relative;
        top: 0;
    }
    .heading h3{
        margin: 0;
        font-weight: 500;
    }
    .name{
        display: block;
    }
    .name div{
        width: 100%;
    }
    label{
        font-size: 22px;
    }
    .name input{
        margin: 0;
    }
    .field{
        margin-top: 10px;
    }
   .footer{
    top: -6px;
    padding:0;
   }
   .footer .details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .details .store{
       width: 100%;
   }
   .details p{
    font-size: 18px;
   }
   .details .hours{
        width: 80%;
   }
   .details .help{
       width: 100%;
   }
   .sub h4{
        margin-left: 0;
   }
   .sub .email{
        display: flex;
        flex-direction: column;
        margin-left: 0px;    
    }
    .sub label{
        margin: 0;
    }
   .email input{
        width: 90%;
        margin-bottom: 10px;
        padding: 15px;
   }
   .email button{
    font-size: 20px;
   }
   .sub .logo{
       margin-left: 0;
   }
   .copy-rights{
        top: -12px;
   }
}

@media (min-width: 480px) and (max-width: 991px){
    .nav{
        display: none;
    }
    .smallNav{
        display: block;
        background: #ededee;
        padding: 15px;
        color: #a05841;
    }
    .smallNav h1{
        margin: 0;
        font-size: 20px;
    }
    .smallNav .top{
        display: flex;
        justify-content: space-between;
    }
    .top h1{
        font-size: 25px;
    }
    .top i{
        font-size: 35px;
        cursor: pointer;
    }
    .menu-hide{
        display: none;
    }
    .menu-show{
        height: 100vh;
        background: #ededee;
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0px;
    }
    .menu-show ul{
        list-style: none;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        font-weight: 500;
        color: #a05841;
        height: 35%;
    }
    .menu-show .login{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 20px;
    }
    .menu-show i{
        font-size: 40px;
        color: #a05841;
        cursor: pointer;
    }
    .login .icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 55%;
        font-size: 35px;
        font-weight: 900;
        color: #a05841;
    }
    .title-div{
        top: -61px;
    }
    .title-img{
        position: relative;
        filter: brightness(0.6);
    }
    .title-logo-div{
        width: 0%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 185px;
    }
    .title-title{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title-title h1{
        font-size: 60px;
        font-weight: 800;
    }
    .title-title button{
        padding: 16px;
        width: 180px;
    }
    .plants{
        top: 0px;
        padding: 40px 0px;
        align-items: center;
        flex-direction: column;
    }
    .box{
        margin-bottom: 20px;
    }
    .content h3{
        font-size: 30px;
        font-weight: 900;
    }
    .content button{
        padding: 15px;
        font-size: 17px;
        font-family: 'Open Sans Condensed';
    }
    .about-div{
        top: 0px;
        display: flex;
        flex-direction: column;
    }
    .about-us{
        width: 100%;
    }
    .about-us p{
        font-size: 18px;
        padding: 20px 35px;
    }
    .img-box{
        width: 100%;
        display: block;
    }
    .img-box .img-1 {
        width: 100%;
    }
    .img-box .img-2 {
        width: 100%;
    }
    .buy-div{
        top: -5px;
        display: block;
    }
    .buy-div .image-box{
        width: 100%;
    }
    .buy-div .content-box{
        width: 100%;
        position: relative;
        top: -6px;
    }
    .content-box div{
        padding: 30px;
    }
    .content-box h1{
        font-size: 80px;
    }
    .content-box button{
        padding: 12px;
        width: 50%;
        font-size: 18px;
    }
    .img-div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        top: 0;
    }
    .content .input-box{
        width: 100%;
        height: 100%;
        background: #ffffff;
    }
    .img-div .content{
        position: relative;
        top: 0;
    }
    .heading h3{
        margin: 0;
        font-weight: 500;
    }
    .name{
        display: block;
    }
    .name div{
        width: 100%;
    }
    label{
        font-size: 22px;
    }
    .name input{
        margin: 0;
    }
    .field{
        margin-top: 10px;
    }
   .footer{
    top: -6px;
    padding:0;
   }
   .footer .details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .details .store{
       width: 100%;
   }
   .details p{
    font-size: 18px;
   }
   .details .hours{
        width: 80%;
   }
   .details .help{
       width: 100%;
   }
   .sub h4{
        margin-left: 0;
   }
   .sub .email{
        display: flex;
        flex-direction: column;
        margin-left: 0px;    
    }
    .sub label{
        margin: 0;
    }
   .email input{
        width: 90%;
        margin-bottom: 10px;
        padding: 15px;
   }
   .email button{
    font-size: 20px;
   }
   .sub .logo{
       margin-left: 0;
   }
   .copy-rights{
        top: -12px;
   }
}